<a href="/directors">Director Index</a></br>
<a href="/films">Film Index</a>
<h1>Directors</h1>

<% @directors.each_with_index do |director, index| %>
<div id="director<%= index %>">
<h3><%= director.name %><small><%= link_to "Edit", "/directors/#{director.id}/edit", method: :get %></small></h3>
<p>Created at: <%= director.created_at %></p>
</div>
<% end %>

<%= link_to "New Director", "/directors/new" %>