<a href="/directors">Director Index</a></br>
<a href="/films">Film Index</a>
<h1><%= @film.name %></h1>
<p>Runtime: <%= @film.runtime%></p>
<p>Streaming on Netflix: <%= @film.streaming_on_netflix %></p>
<%= link_to "Update Film", "/films/#{@film.id}/edit", method: :get %></br>
</br>
<%= button_to "Delete", "/films/#{@film.id}", method: :delete %> 