<a href="/directors">Director Index</a></br>
<a href="/films">Film Index</a>
<% @films.each_with_index do |film, index| %>
<div id="film<%= index %>">
  <h2><%= film.name %></h2>
  <p>Runtime: <%= film.runtime%></p>
  <p>Streaming on Netflix: <%= film.streaming_on_netflix %></p>
  </div>
<% end %>
  <%= link_to "Sort Films Alphabetically", "/directors/#{@director.id}/films?sort=alpha" %></br>
  <%= link_to "Add Film", "/directors/#{@director.id}/films/new" %></br>